<a href="https://colab.research.google.com/github/gemmamay21/introduction-to-datascience/blob/master/Logistic_Reression_for_Absenteeism.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [0]:
data_preprocessed= pd.read_csv('Absenteeism_preprocessed.csv')

In [3]:
data_preprocessed.head()

   Reason_1  Reason_2  Reason_3  ...  Children  Pet  Absenteeism Time in Hours
0         0         0         0  ...         2    1                          4
1         0         0         0  ...         1    0                          0
2         0         0         0  ...         0    0                          2
3         1         0         0  ...         2    0                          4
4         0         0         0  ...         2    1                          2

[5 rows x 15 columns]

In [0]:
##Create the Targets

In [6]:
data_preprocessed['Absenteeism Time in Hours'].median()

3.0

In [0]:
targets = np.where(data_preprocessed['Absenteeism Time in Hours'] > 
                   data_preprocessed['Absenteeism Time in Hours'].median() , 1, 0)

In [10]:
targets

array([1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0,
       1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0,
       0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0,
       1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1,
       1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0])

In [0]:
data_preprocessed['Excessive Absenteeism'] = targets

In [12]:
data_preprocessed.head()

   Reason_1  Reason_2  ...  Absenteeism Time in Hours  Excessive Absenteeism
0         0         0  ...                          4                      1
1         0         0  ...                          0                      0
2         0         0  ...                          2                      0
3         1         0  ...                          4                      1
4         0         0  ...                          2                      0

[5 rows x 16 columns]

In [0]:
## Comment on the Targets

In [14]:
targets.sum() / targets.shape[0]

0.45571428571428574

In [0]:
data_with_targets = data_preprocessed.drop(['Absenteeism Time in Hours'], axis = 1)

In [18]:
data_with_targets is data_preprocessed

False

In [19]:
date_with_targets.head()

   Reason_1  Reason_2  Reason_3  ...  Children  Pet  Excessive Absenteeism
0         0         0         0  ...         2    1                      1
1         0         0         0  ...         1    0                      0
2         0         0         0  ...         0    0                      0
3         1         0         0  ...         2    0                      1
4         0         0         0  ...         2    1                      0

[5 rows x 15 columns]

In [22]:
data_with_targets.shape

(700, 15)

In [23]:
data_with_targets.iloc[:,0:14]

     Reason_1  Reason_2  Reason_3  ...  Education  Children  Pet
0           0         0         0  ...          0         2    1
1           0         0         0  ...          0         1    0
2           0         0         0  ...          0         0    0
3           1         0         0  ...          0         2    0
4           0         0         0  ...          0         2    1
5           0         0         0  ...          0         0    0
6           0         0         0  ...          0         1    4
7           0         0         0  ...          0         4    0
8           0         0         1  ...          0         2    0
9           0         0         0  ...          1         1    1
10          1         0         0  ...          0         4    0
11          1         0         0  ...          0         4    0
12          1         0         0  ...          0         4    0
13          1         0         0  ...          0         0    0
14          0         0         0  ...          0         0    0
15          1         0         0  ...          0         0    0
16          0         0         0  ...          0         0    0
17          0         0         1  ...          0         0    0
18          1         0         0  ...          0         2    2
19          0         0         0  ...          0         2    1
20          1         0         0  ...          1         0    0
21          1         0         0  ...          0         0    0
22          1         0         0  ...          0         1    4
23          0         0         0  ...          0         4    0
24          0         0         1  ...          0         2    1
25          0         0         0  ...          0         1    4
26          0         0         0  ...          0         2    1
27          0         0         0  ...          0         0    0
28          0         0         1  ...          0         2    1
29          0         0         0  ...          0         0    0
..        ...       ...       ...  ...        ...       ...  ...
670         0         0         0  ...          0         2    0
671         0         0         1  ...          0         1    2
672         1         0         0  ...          0         1    0
673         0         0         0  ...          1         0    0
674         0         0         0  ...          1         1    1
675         0         0         1  ...          1         2    2
676         0         0         0  ...          1         0    0
677         1         0         0  ...          0         0    0
678         0         0         0  ...          0         1    0
679         1         0         0  ...          1         0    0
680         0         0         0  ...          0         1    1
681         1         0         0  ...          1         2    2
682         0         0         1  ...          0         2    1
683         0         0         0  ...          1         2    2
684         0         0         0  ...          1         0    0
685         0         0         0  ...          0         1    0
686         1         0         0  ...          0         1    0
687         0         0         0  ...          0         0    0
688         0         0         0  ...          0         1    0
689         0         0         0  ...          1         0    0
690         0         0         0  ...          0         2    4
691         0         1         0  ...          1         2    0
692         1         0         0  ...          0         2    0
693         1         0         0  ...          1         0    0
694         0         0         0  ...          0         1    1
695         1         0         0  ...          1         2    0
696         1         0         0  ...          0         1    2
697         1         0         0  ...          1         0    0
698         0         0         0  ...          1         0    0
699         0         0         0  ...          0         1    1

[700 rows x 14 columns]

In [24]:
data_with_targets.iloc[:,:-1]

     Reason_1  Reason_2  Reason_3  ...  Education  Children  Pet
0           0         0         0  ...          0         2    1
1           0         0         0  ...          0         1    0
2           0         0         0  ...          0         0    0
3           1         0         0  ...          0         2    0
4           0         0         0  ...          0         2    1
5           0         0         0  ...          0         0    0
6           0         0         0  ...          0         1    4
7           0         0         0  ...          0         4    0
8           0         0         1  ...          0         2    0
9           0         0         0  ...          1         1    1
10          1         0         0  ...          0         4    0
11          1         0         0  ...          0         4    0
12          1         0         0  ...          0         4    0
13          1         0         0  ...          0         0    0
14          0         0         0  ...          0         0    0
15          1         0         0  ...          0         0    0
16          0         0         0  ...          0         0    0
17          0         0         1  ...          0         0    0
18          1         0         0  ...          0         2    2
19          0         0         0  ...          0         2    1
20          1         0         0  ...          1         0    0
21          1         0         0  ...          0         0    0
22          1         0         0  ...          0         1    4
23          0         0         0  ...          0         4    0
24          0         0         1  ...          0         2    1
25          0         0         0  ...          0         1    4
26          0         0         0  ...          0         2    1
27          0         0         0  ...          0         0    0
28          0         0         1  ...          0         2    1
29          0         0         0  ...          0         0    0
..        ...       ...       ...  ...        ...       ...  ...
670         0         0         0  ...          0         2    0
671         0         0         1  ...          0         1    2
672         1         0         0  ...          0         1    0
673         0         0         0  ...          1         0    0
674         0         0         0  ...          1         1    1
675         0         0         1  ...          1         2    2
676         0         0         0  ...          1         0    0
677         1         0         0  ...          0         0    0
678         0         0         0  ...          0         1    0
679         1         0         0  ...          1         0    0
680         0         0         0  ...          0         1    1
681         1         0         0  ...          1         2    2
682         0         0         1  ...          0         2    1
683         0         0         0  ...          1         2    2
684         0         0         0  ...          1         0    0
685         0         0         0  ...          0         1    0
686         1         0         0  ...          0         1    0
687         0         0         0  ...          0         0    0
688         0         0         0  ...          0         1    0
689         0         0         0  ...          1         0    0
690         0         0         0  ...          0         2    4
691         0         1         0  ...          1         2    0
692         1         0         0  ...          0         2    0
693         1         0         0  ...          1         0    0
694         0         0         0  ...          0         1    1
695         1         0         0  ...          1         2    0
696         1         0         0  ...          0         1    2
697         1         0         0  ...          1         0    0
698         0         0         0  ...          1         0    0
699         0         0         0  ...          0         1    1

[700 rows x 14 columns]

In [0]:
unscaled_inputs = data_with_targets.iloc[:,:-1]

In [0]:
## Standardise the Data

In [0]:
from sklearn.preprocessing import StandardScaler

absenteeism_scaler = StandardScaler()

In [28]:
absenteeism_scaler.fit(unscaled_inputs)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [0]:
scaled_inputs = absenteeism_scaler.transform(unscaled_inputs)

In [30]:
scaled_inputs

array([[-0.57735027, -0.09298136, -0.31448545, ..., -0.44798003,
         0.88046927,  0.26848661],
       [-0.57735027, -0.09298136, -0.31448545, ..., -0.44798003,
        -0.01928035, -0.58968976],
       [-0.57735027, -0.09298136, -0.31448545, ..., -0.44798003,
        -0.91902997, -0.58968976],
       ...,
       [ 1.73205081, -0.09298136, -0.31448545, ...,  2.23224237,
        -0.91902997, -0.58968976],
       [-0.57735027, -0.09298136, -0.31448545, ...,  2.23224237,
        -0.91902997, -0.58968976],
       [-0.57735027, -0.09298136, -0.31448545, ..., -0.44798003,
        -0.01928035,  0.26848661]])

In [31]:
scaled_inputs.shape

(700, 14)